@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background-primary: #02518c;
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --text-default-color: #212b36;

    --success: 120 40% 50%;
    --success-foreground: 0, 0%, 100%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: #637381;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  html {
    font-family: "Poppins", sans-serif;
  }
}

.max-w-8xl {
  max-width: 88rem;
}
.max-w-7xl {
  max-width: 80rem;
}
.max-w-6xl {
  max-width: 72rem;
}

.a-icon-active::before {
  content: "";
  border-radius: 50%;
  position: absolute;
  width: 6px;
  height: 6px;
  left: 0px;
  top: 50%;
  transform: translateY(-50%);
  background-color: var(--background-primary);
  -webkit-transition: opacity 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition: opacity 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.a-icon:hover::before {
  content: "";
  border-radius: 50%;
  position: absolute;
  width: 6px;
  height: 6px;
  left: 0px;
  opacity: 0.64;
  top: 50%;
  transform: translateY(-50%);
  background-color: var(--background-primary);
  -webkit-transition: opacity 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition: opacity 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

/* Ürünlerimiz dropdown için özel stil */
.a-icon-dropdown-active::before {
  content: "";
  border-radius: 50%;
  position: absolute;
  width: 6px;
  height: 6px;
  left: -6px;
  top: 50%;
  transform: translateY(-50%);
  background-color: var(--background-primary);
  -webkit-transition: opacity 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition: opacity 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.a-icon-dropdown:hover::before {
  content: "";
  border-radius: 50%;
  position: absolute;
  width: 6px;
  height: 6px;
  left: -6px;
  opacity: 0.64;
  top: 50%;
  transform: translateY(-50%);
  background-color: var(--background-primary);
  -webkit-transition: opacity 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition: opacity 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.banner-container-h {
  height: calc(100vh - 80px);
}

.banner-container {
  background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.9),
      rgba(255, 255, 255, 0.9)
    ),
    url(../assets/background/overlay_1.jpg);
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-background-position: center center;
  background-position: center center;
  overflow: hidden;
  position: relative;
}

.banner-content {
  padding-top: 160px;
  padding-bottom: 160px;
  position: relative;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, #000000 75%),
    url(../assets/background/ahsap-palet-1.jpg);
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-background-position: center center;
  background-position: center center;
}

.swiper-pagination-bullet-active {
  opacity: var(--swiper-pagination-bullet-opacity, 1);
  background: var(--background-primary) !important;
}

.progress-bar {
  top: 0px;
  left: 0px;
  right: 0px;
  height: 3px;
  z-index: 1999;
  position: fixed;
  transform-origin: 0% center;
  background: linear-gradient(
    135deg,
    var(--background-primary) 0%,
    var(--background-primary) 100%
  );
  transition: transform 1s ease 0s, opacity 0.5s ease 0s;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
